---
import { Image } from "astro:assets";
import { type TrackInfo } from "../pages/api/spotify";

type Props = TrackInfo;

const { title, artist, coverImage } = Astro.props;
---

<div class="flex items-center justify-between gap-3">
  <div class="flex w-full items-center gap-3">
    <Image
      alt={`Album art for ${title} by ${artist}`}
      width={64}
      height={64}
      format="webp"
      src={coverImage.url}
      loading="lazy"
      class="aspect-ratio-1 outline-primary-50 h-[64px] w-[64px] rounded object-cover outline outline-1"
    />
    <div class="flex flex-col justify-center overflow-hidden">
      <h2
        class="overflow-hidden text-ellipsis whitespace-nowrap font-medium text-[black]"
      >
        {title}
      </h2>
      <h3 class="overflow-hidden text-ellipsis whitespace-nowrap text-sm">
        {artist}
      </h3>
    </div>
  </div>
</div>
